<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Login and Registration</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Welcome to ABC App </h1>
        <div class="buttons" >
            <a href="/register" class="button">Register</a>
            <a href="/login" class="button">Login</a>
        </div>
    </div>
</body>
</html>
